@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y fuente base */
html, body {
  height: 100%;
  background-color: #f9fafb;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1e293b;
}

